<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="snippets" name="Snippets" schema="schema/snippets.exsd"/>
   <extension
         id="CodeView"
         name="Code View"
         point="pt.iscte.pidesco.view">
      <view
            class="pt.iscte.pidesco.codegenerator.CodeView"
            icon="code.png">
      </view>
   </extension>

</plugin>
